body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(59, 53, 59);
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 10rem;
}

.letter {
    transition: color 1000ms;
}