body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: purple;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 7rem;
}

.letter {
    transition: color 800ms;
}